model: 'simmim'
size: 'base'

data:
  img_size: 224
  patch_size: 32
  train: 'Data/train.txt'
  val: 'Data/val.txt'

vit:
  in_chans: 3
  drop_path_rate: 0.
  patch_size: 32
  mask_ratio: 0.6
  embed_dim: 768
  depth: 12
  num_heads: 12
  mlp_ratio: 4.
  qkv_bias: True
  drop_rate: 0.
  init_values: 
  use_ape: false
  use_rpb: false
  use_shared_rpb: true
  use_mean_pooling: false
  encoder_stride: 32
  return_attn: True

memory_bank:
  memory_capacity: 100000
  embed_dim: 768
  memory_device: "cuda"

hyperparameters:
  nosim_train_epochs: 500
  memory_mode: "random"
  num_neighbors: 10

training:
  batch_size: 64
  max_epochs: 500
  val_every_epochs: 2
  accumulate_grad_batches: 4

optimizer:
  optim: "adamw"
  learning_rate: 1e-4
  beta1: 0.9
  beta2: 0.999
  eta_min: 1e-7
  weight_decay: 0.05
  lr_scheduler: "cosine"
  warmup_epochs: 20
  start_factor: 0.1

checkpoint:
  save_every_epochs: 50
  save_dir: "checkpoints"

logging:    
  project: 'memomae'
  entity: 'wwy'
  log_every_epochs: 1
  logger: 'wandb'

name: 'memosimmim'
device: "cuda"
seed: 42
